body{
    font-family: sans-serif;
}

.file-box{
    padding: 8px;
    background-color: aliceblue;
    /* width: 20vw; */
    margin: 8px;
    border-radius: 2px;
    font-family: monospace;
}

#file-names{
    min-width: 250px;
    width: fit-content;
}

#open{
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    cursor: pointer;
}

a{
    text-decoration: none;
    padding: 10px 0;
}

a:hover{
    background-color: aliceblue;
    border-radius: 5px;
}

#status{
    margin: 10px;
    padding: 10px;
    background-color: #f5d6d6;
    border-radius: 10px;
    width: fit-content;
    display: none;
}

.space{
    margin:20px 5px;
}

.bold{
    font-weight: bold;
}

.intro{
    margin: 20px;
}

.in{
    display: flex;
    flex-direction: column;
}

input{
    margin: 10px;
}

input[type="text"],textarea{
    min-width: 200px;
    width: 30vw;
    padding: 10px;
    background-color: aliceblue;
    border: 2px dotted #24a0ed;
    border-radius: 4px;
}

input[type="text"]:focus,textarea:focus{
    border-color: #0f4567;
    outline: none;
}

input[type="button"],button{
    max-width: 100px;
    border: none;
    background-color: #24a0ed;
    color: white;
    padding: 10px;
    border-radius: 7px;
}